.card-img {
  height: 300px !important;
   width: 100% !important;
   object-fit: cover; 
 }
 
 .card {
   height: 300px !important;
   width: 550px;
   border: 1px solid #ddd;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
 }
 
 .card:hover {
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.20);
 }
 .add-btn{
  border-color: #7193D9 !important;
  color: #1D2659 !important;
}
.add-btn:hover{
  background-color: #7193D9 !important;
  color: #1D2659 !important;
}

.heart{
  color:rgb(183, 183, 183);
  font-size: 30px !important;
}
.heart:hover {
  color: #BF2A37;
}